*.gradle.kts linguist-generated=true
*-info.java linguist-generated=true
modules/thebluealliance-api/* linguist-generated=true
modules/camera-rx/* linguist-vendored=true
modules/icon-utils/* linguist-vendored=true
modules/bowline/* linguist-vendored=true
modules/fx-utils/* linguist-vendored=true
modules/service-api/src/main/java/kb/service/api/array/* linguist-vendored=true
modules/service-api/src/main/java/kb/service/api/json/* linguist-generated=true
modules/service-api/src/test/* linguist-vendored=true
modules/data-view/src/main/java/kb/core/view/util/* linguist-vendored=true
modules/connect-four/* linguist-vendored=true
modules/path-planner/* linguist-vendored=true