.root {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
}

.ikonli-font-icon {
    -fx-icon-color: white;
}


/*==========LIST VIEW==========*/


.list-cell {
    -fx-background-color: #333;
    -fx-padding: 0;
}

.list-cell:hover:filled {
    -fx-background-color: #ddd;
}

.list-cell:selected:filled {
    -fx-background-color: #ccc;
    -fx-text-fill: black;
}

.list-view:focused .list-cell:filled:selected {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}

.list-view:focused .list-cell:filled:selected .ikonli-font-icon {
    -fx-icon-color: white;
}

.properties-list {
    -fx-background-color: #333;
}

.properties-list .list-cell {
    -fx-padding: 2 8 2 8;
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.properties-list .list-cell:filled:hover {
    -fx-background-color: #555;
}

.properties-list .list-cell.drag-over {
    -fx-background-color: red, #333;
    -fx-background-insets: 0, 2;
}

.tree-cell .arrow {
    -fx-background-color: white;
}

.tree-cell .label{
    -fx-text-fill: white;
}

.tree-cell .ikonli-font-icon {
    -fx-icon-color: white;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #5a8ade;
}

.tree-cell:hover:filled {
    -fx-background-color: #555;
}

.tree-cell:selected:filled {
    -fx-background-color: #666;
    -fx-text-fill: black;
}


.split-pane-divider {
    -fx-padding: 0 0 0 1;
}

/*SPREADSHEET VIEW*/

/* NORMAL CELL */
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
    /*-fx-background-color: #8cb1ff;*/
    -fx-background-color: #333;
    /*-fx-border-color: #555;*/
    /*-fx-border-width: 1px;*/
    -fx-text-fill: white;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: #3c5c94;
    -fx-stroke-width: 1.3;
}

.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
    /*-fx-background-color: #988490;*/
    -fx-text-fill: white;
    /*-fx-background-insets: 0, 0 0 1 0;*/
}

.spreadsheet-cell {/*todo*/
    -fx-padding: 0 0.2em 0 0.2em;
    -fx-border-color: white;
    -fx-border-width: 0.3;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    /*-fx-background-color: -fx-table-cell-border-color, white;*/
    -fx-background-color: black;
}

VerticalHeader > Label ,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column{
    -fx-background-color: -fx-box-border, #F3F3F3;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: normal;
}

VerticalHeader > Label.selected {
    -fx-background-color: #3c5c94;
    -fx-border-color: #3c5c94;
    -fx-text-fill: white;
}

VerticalHeader > Label {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-width: 0;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column {
    -fx-background-color: #333;
    -fx-border-color: #555;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column > Label {
    -fx-text-fill: white;
}

.table-view .filler {
    -fx-background-color: black;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected > Label {
    /*-fx-background-color: #5a8ade;*/
    -fx-background-color: #3c5c94;
    -fx-border-color: #3c5c94;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-padding: 0 12 0 12;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: #333;
}

.menu {
    -fx-padding: 3 10 3 10;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -0.7 0.3;
}

.menu-item {
    -fx-padding: 3 6 3 6;
    -fx-background-color: #333;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item .ikonli-font-icon {
    -fx-icon-color: white;
}

.menu-item:focused {
    -fx-background-color: #666;
}

.menu-item:focused .ikonli-font-icon {
    -fx-icon-color: white;
}

.menu .label {
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: #444;
}

.menu:showing {
    -fx-background-color: #666;
}

.context-menu {
    -fx-padding: 0;
    -fx-min-width: 200;
    -fx-background-color: #333;
    -fx-border-width: 0.3;
    -fx-border-insets: 1;
    -fx-border-color: #888;
    -fx-background-insets: 1;
    -fx-effect: none;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #888;
    -fx-border-insets: 0;
    -fx-border-width: 0.3 0 0 0;
}

.button {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #444;
}

.button .ikonli-font-icon {
    -fx-icon-color: white
}