.root {
    -fx-background-color: white;
}

* {
    -kb-light-accent: #5a8ade;
    -kb-dark-accent: #3c5c94;
    -kb-root-shade: white;
    -kb-item-hover-shade: #ddd;
    -kb-item-selected-shade: #ccc;
    -kb-clickable-shade: #ddd;
    -kb-clickable-hover-shade: #ccc;
}

/*SPREADSHEET VIEW*/

.spreadsheet-cell {
    -fx-padding: 0 0.2em 0 0.2em;
    -fx-font-weight: normal;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    /*-fx-background-color: -fx-table-cell-border-color, white;*/
    -fx-background-color: white;
}

.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
    -fx-background-color: #f0f8ff;
}

.header-cell {
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: #3c5c94;
    -fx-stroke-width: 2;
}

VerticalHeader {
    -fx-border-width: 0;
}

VerticalHeader > Label {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-text-fill: #3c5c94;
}

VerticalHeader > Label.selected {
    -fx-background-color: #e0e8ef;
    -fx-border-color: #e0e8ef;
    -fx-text-fill: #3c5c94;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column {
    -fx-background-insets: 0;
    -fx-background-color: #fff;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column > Label {
    -fx-background-insets: 0;
    -fx-text-fill: #3c5c94;
    -fx-background-color: none;
}


HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected > Label {
    -fx-text-fill: #3c5c94;
    -fx-background-color: #e0e8ef;
}

.filler {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

/*MENUS*/

.menu-bar {
    -fx-padding: 0 12 0 12;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: #eee;
}

.menu {
    -fx-padding: 3 10 3 10;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -0.7 0.3;
}

.menu .label {
    -fx-text-fill: #444;
}

.menu:hover {
    -fx-background-color: #ddd;
}

.menu:showing {
    -fx-background-color: #ccc;
}

.menu-item {
    -fx-padding: 3 6 3 6;
}

.menu-item .label {
    -fx-text-fill: #444;
}

.context-menu {
    -fx-padding: 0;
    -fx-min-width: 200;
    -fx-background-color: #eee;
    -fx-border-width: 0.3;
    -fx-border-insets: 1;
    -fx-border-color: #888;
    -fx-background-insets: 1;
    -fx-effect: none;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #888;
    -fx-border-insets: 0;
    -fx-border-width: 0.3 0 0 0;
}

.menu-item:focused {
    -fx-background-color: #ddd;
}

/*OTHERS---*/

.button {
    -fx-background-color: none;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #ddd;
}

.tab-scroller {
    -fx-background-color: #eee;
    -fx-background-insets: 0 0 1 0;
}

.tab-scroller:focused {
    -fx-background-color: #eee;
    -fx-background-insets: 0 0 1 0;
}

.tab-item {
    -fx-border-width: 0 1 0 0;
    -fx-background-color: #ddd;
    -fx-border-color: #ccc;
    -fx-padding: 8;
    -fx-spacing: 4;
}

.tab-item .label {
    -fx-text-fill: #666;
}

.tab-item-selected {
    -fx-background-color: white;
}

.tab-item-selected .label {
    -fx-text-fill: black;
}

.tab-close-button {
    -fx-icon-color: #ddd
}

.tab-item-selected .tab-close-button {
    -fx-icon-color: #666
}

.tab-item:hover .tab-close-button {
    -fx-icon-color: #666
}

.tab-item:hover .tab-close-button:hover {
    -fx-icon-color: black
}