.scroll-bar .increment-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0;
}

.scroll-bar .decrement-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0;
}

.scroll-bar:horizontal .increment-button {
    -fx-pref-width: 0;
}

.scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0;
}

.scroll-bar:vertical .increment-button {
    -fx-pref-height: 0;
}

.scroll-bar:vertical .decrement-button {
    -fx-pref-height: 0;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-insets: 2;
    -fx-background-color: rgba(128, 128, 128, 0.3);
    -fx-border-insets: 2;
    -fx-border-width: 0.2;
    -fx-border-color: gray;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: rgba(128, 128, 128, 0.75);;
}

.scroll-bar .increment-button:hover {
    -fx-background-color: #777;
}

.scroll-bar .decrement-button:hover {
    -fx-background-color: #777;
}

.root {
    -fx-background-color: white;
}