* {
    -fx-font-smoothing-type: gray;
}


.menu-bar {
    -fx-padding: 0 12 0 12;
    -fx-background-color: #eee;
}

.menu {
    -fx-padding: 3 10 3 10;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.menu .label {
    -fx-text-fill: #444;
}

.menu:hover {
    -fx-background-color: #ddd;
}

.menu:showing {
    -fx-background-color: #ccc;
}

.menu-item {
    -fx-padding: 3 12 3 12;
}

.context-menu {
    -fx-padding: 0;
    -fx-min-width: 200;
}

.menu-item:focused {
    -fx-background-color: #ddd;
}